code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hack-title {
  text-align: center;
  color: #ffc300;
  font-size: 2rem;
  margin-top: 2rem;
}

a {
  text-decoration: none;
}

input[type="radio"]:checked + label::after {
  content: "✔";
  font-family: "lucida grande";
  color: #1164b1;
  font-size: 20px;
  line-height: 25px;
  margin-left: 10px;
}
input[type="radio"] {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 10px;
  border-color: #2995fa;
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(180, 178, 178);
  color: black;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
}
.create-button {
  width: 100%;
  margin: 20px;
}

/* Line List Style */
.form {
  margin: 0 auto;
}

.List {
  width: 700px;
  background-color: #f0f1f8;
  border: 1px solid #dedede;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 10px;
  padding: 10px;
}

.introduction {
  width: 700px;
  background-color: #f0f1f8;
  border: 1px solid #dedede;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 10px;
  padding: 10px;
}

.List:hover {
  border: 5px solid skyblue;
}

.list-name {
  width: 200px;
}

.check-data-list,
.date-list,
.status-list {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.product-line {
  background-color: white;
  border-radius: 15px;
  width: 500px;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  height: 45px;
  z-index: 5;
}
.product-line:hover {
  border: 5px solid skyblue;
}

.data-elements {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin-left: 20px;
}

.circle {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* End Line List Style */

/* Line Buttons Style */

.show-button {
  background-color: rgba(224, 224, 224, 0.87);
  border-bottom-left-radius: 15px;
}

.delete-button {
  background-color: rgb(245, 85, 85);
  border-bottom-right-radius: 15px;
}

.list-button {
  margin: 0 0 0 20px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* End Line Buttons Style */

/* Modal Style */

.Modal {
  border: 1px solid rgb(231, 231, 231);
  padding: 20px;
  width: 400px;
  position: fixed;
  margin: auto;
  z-index: 10;
}

.input-createList {
  display: flex;
  margin-left: 5px;
  align-items: flex-end;
}

.modal-show {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 33%;
  left: 33%;
  /* right: auto; */
  border: solid 3px rgb(48, 127, 201);
  width: 50%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 10;
  width: 560px;
  background-color: white;
  box-shadow: 2px 4px 8px 4px rgb(105, 163, 211);
}

.addPrice-modal {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 45%;
  left: 28%;
  border: solid 3px rgb(29, 124, 10);
  width: 50%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 10;
  width: 560px;
  background-color: white;
  box-shadow: 2px 4px 8px 4px rgb(35, 100, 38);
}

.input-addPrice {
  margin: 10px auto 0 auto;
  width: 500px;
}

.modal-btn {
  display: flex;
  justify-content: flex-end;
}

/* End Modal Style */

/* Product List Component */

.main-cont {
  width: 800px;
}

.quant-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: end;
  margin-right: 10px;
}

.through-text {
  text-decoration: line-through;
}

.addProduct {
  background-color: #2995fa;
  width: 135px;
}
.delete-list {
  color: white;
  background: #fa5959;
  width: 135px;
}

.check-input {
  margin-top: 1rem;
  width: 400px;
}

.trash-icon:hover {
  fill: red;
}

.data-product-quant {
  width: 40px;
}

.data-product-price {
  width: 80px;
}

.editShopProduct {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  position: relative;

  top: 17px;
  right: 30px;
  z-index: 2;

  border: 4px solid rgba(248, 203, 4, 0.795);
  background-color: #fafdce;
  color: #f0f1f8;
  height: 43px;
  width: 180px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.btn-closeEditModal {
  border-radius: 50%;
  border-color: #469dee;
  background-color: #469dee;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  width: 20px;
  height: 20px;
  position: relative;
  top: 13px;
  right: 48px;
  z-index: 5;
}

.quant {
  margin-right: 3px;
}
.price {
  margin-right: 15px;
}
.cash-icon {
  margin-left: 10px;
}

/* End Product List Component */

/* Response */
@media (max-width: 991px) {
  .addProduct {
    width: 138px;
  }
  .modal-show {
    left: 20%;
    right: auto;
  }
}

@media (max-width: 767px) {
  .modal-show {
    left: auto;
    right: auto;
  }
  .addProduct {
    width: 148px;
  }
  .introduction {
    width: 650px;
  }
  .List {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .data-elements {
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
  }
  .list-name {
    display: flex;
    align-items: center;
    width: 150px;
  }
  .list-data {
    width: 400px;
  }
  .list-buttons {
    width: 100px;
    margin-left: 50px;
  }
}

@media (max-width: 670px) {
  .modal-show {
    width: 530px;
    font-size: 0.8rem;
  }
  h4 {
    font-size: medium;
  }
  .introduction {
    width: 500px;
  }
  .List {
    width: 530px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .list-name {
    margin: 0;
    padding-left: 10px;
    width: 250px;
  }
  h5 {
    font-size: 1rem;
  }
  .data-elements {
    font-size: 0.72rem;
    align-items: center;
  }
  .list-data {
    align-items: center;
    width: 350px;
  }
  .status-list {
    margin-bottom: 0;
  }
  .list-buttons {
    width: 80px;
    margin-left: 40px;
  }
  .show-button,
  .delete-button,
  .list-button {
    width: 40px;
    height: 25px;
  }

  .btn-2 {
    width: 80px;
    margin-bottom: 10px;
  }
}

@media (max-width: 575px) {
  .delete-list {
    width: 125px;
  }
  .hack-title {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 550px) {
  .introduction {
    width: 400px;
  }

  .modal-show {
    width: 570px;
  }
  .List {
    width: 420px;
  }
  .list-data {
    width: 300px;
    padding-left: 0;
  }
  .list-name {
    margin: 0;
    width: 110px;
    font-size: revert;
  }

  .data-elements {
    width: 150px;
    margin-left: 0;
  }

  .list-buttons {
    width: 63px;
    margin: 0;
  }
  .show-button,
  .delete-button,
  .list-button {
    width: 35px;
    height: 20px;
    margin: 0 0 0 5px;
  }
  h5 {
    font-size: 0.8rem;
  }

  /* /////shopp Product */
  .addProduct,
  .delete-list {
    margin-right: 10px;
  }

  .main-cont {
    width: 500px;
  }

  .product-line {
    width: 380px;
    font-size: 1.1rem;
  }
  .quant-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    align-items: end;
    margin-right: 10px;
  }
  h3 {
    font-size: 1, 5rem;
  }

  .width-p {
    font-size: 1rem;
  }

  .edit-icon {
    width: 25px;
    margin-left: 4px;
    margin-right: 4px;
  }
  .editShopProduct {
    display: flex;
    justify-content: end;
    left: -8px;
  }
  p {
    font-size: 1rem;
  }

  .btn-closeEditModal {
    left: -25px;
    top: 8px;
  }

  @media (max-width: 500px) {
    .main-cont {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 450px;
    }

    .product-line {
      margin-right: auto;
      width: 340px;
      font-size: 0.8rem;
    }
    .form-control {
      width: 100%;
    }
    .addProduct {
      width: 100%;
    }

    .data-product {
      display: flex;
      flex-direction: column;
    }
    .quant-price {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 10px;
      font-size: 0.8rem;
      align-items: end;
    }

    .data-product-price {
      width: 120px;
    }
    .data-product-quant {
      width: 80px;
    }
    h3 {
      font-size: 2rem;
    }
    .edit-icon {
      width: 18px;
      margin-left: 4px;
      margin-right: 4px;
    }
    .editShopProduct {
      display: flex;
      justify-content: end;

      left: -8px;
    }
    p {
      font-size: 0.9rem;
    }
  }
  .btn-closeEditModal {
    left: -25px;
    top: 8px;
  }
  .hack-title {
    margin-top: 15px;
  }
}
@media (max-width: 450px) {
  .hack-title {
    margin-top: 15px;
  }

  .modal-show {
    font-size: small;
    width: 340px;
  }
  h4 {
    font-size: small;
  }
  .introduction {
    font-size: 0.8rem;
    width: 330px;
  }

  .List {
    display: flex;
    width: 360px;
  }
  .list-data {
    width: 200px;
  }
  .list-name {
    width: 100px;
    font-size: 0.8rem;
  }
  .data-elements {
    width: 90px;
    margin-left: 0;
  }
  .date-list {
    display: none;
  }

  fieldset {
    display: flex;
    justify-content: center;
  }
  /* /////shopp Product */
  .main-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 420px;
  }

  .product-line {
    margin-right: auto;
    width: 300px;
    font-size: 0.8rem;
  }
  .form-control {
    width: 100%;
  }
  .addProduct {
    width: 100%;
  }

  .cash-icon {
    margin-left: 10px;
  }
  .data-product {
    display: flex;
    flex-direction: column;
  }
  .quant-price {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 0.8rem;
    align-items: end;
  }

  .data-product-price {
    width: 120px;
  }
  .data-product-quant {
    width: 80px;
  }
  h3 {
    font-size: 2rem;
  }
  .edit-icon {
    width: 18px;
    margin-left: 4px;
    margin-right: 4px;
  }
  .editShopProduct {
    display: flex;
    justify-content: end;

    left: -8px;
  }
  p {
    font-size: 0.9rem;
  }
}
.btn-closeEditModal {
  left: -25px;
  top: 8px;
}

@media (max-width: 420px) {
  .editShopProduct {
    display: none;
  }
  .btn-closeEditModal {
    display: none;
  }
}
